<ion-view view-title="Login" hide-back-button="true" name="login-view">

    <div class="loader-center" ng-if="doneLoading">
        <div class="loader">
            <i class="icon ion-load-c"></i>
        </div>
    </div>

    <ion-content overflow-scroll="false" class="padding aligner">
        <!--<div class="list list-inset">-->
        <div class="login-form-conteiner">
            <form class="login-form center-align" method="post" name="loginForm" novalidate>
                <p ng-show="valid.message" class="help-block">{{ 'MESSAGE_CAPS' | translate }}: {{valid.message}}</p>
                <label class="item item-input">
                    <input type="email" name="email" placeholder="mail" ng-model="data.email" ng-pattern="emailFormat"
                           ng-class="{ 'has-error' : !loginForm.email.$pristine || valid.email }" required>
                </label>

                <label class="item item-input">
                    <input type="password" name="pass" placeholder="Password" ng-model="data.password"
                           ng-class="{ 'has-error' : loginForm.pass.$invalid && !loginForm.pass.$pristine }" required />
                </label>
            </form>

            <!--</div>-->
            <button class="button button-block button-calm login-btn " ng-click="login(loginForm,data)">{{'LOGIN_BUTTON_TEXT' || translate}}</button>

        </div>
    </ion-content>
</ion-view>
