@import "variables";

@media (min-width: 680px) {
    .bigModal {
        top: 0px !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
    }
    
    .platform-ios.platform-cordova .modal-wrapper .modal {
        
        .bar-header:not(.bar-subheader) > * {
            margin-top: 20px;
        }
        
        .bar-header:not(.bar-subheader) {
            height: 64px;
        }
        
        .has-header, .bar-subheader {
            top: 64px;
        }
    }
}

@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

.center-content{	
	display: table !important;
	width: 100% !important;
	height: 100% !important;
		
	.scroll {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.animate-item{
	animation: fadeInLeft 1s;
}

.user-messages-top-icon {
        font-size: 28px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -3px;
        right: 5px;
        left: 0px;
    }

    .msg-header-username {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -3px;
        left: 5px;
    }

    /* loading */
    .loader-center {
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .loader .ion-load-c {
  font-size: 64px;
}
.ion-load-c:before {
    -webkit-animation: spinLoad 1s infinite linear;
    -moz-animation: spinLoad 1s infinite linear;
    -o-animation: spinLoad 1s infinite linear;
    animation: spinLoad 1s infinite linear;
}

@-moz-keyframes spinLoad {
    0% {
        -moz-transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(359deg)
    }
}

@-webkit-keyframes spinLoad {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg)
    }
}

@-o-keyframes spinLoad {
    0% {
        -o-transform: rotate(0deg)
    }

    100% {
        -o-transform: rotate(359deg)
    }
}

@-ms-keyframes spinLoad {
    0% {
        -ms-transform: rotate(0deg)
    }

    100% {
        -ms-transform: rotate(359deg)
    }
}

@keyframes spinLoad {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(359deg)
    }
}