h1, h2, h3, h4, h5, p, span, div, input, button, select, textarea {
  font-family: 'Lato', sans-serif !important;
}

.loader-center {
  z-index: 99999;
  position: relative;
}
$tvfont: 22px;
$tvlineh: 35px;
.homeView {
  /* allows the bar-footer to be elastic /*
  /* optionally set a max-height */
  /* maxlength on the textarea will prevent /*
  /* it from getting too large also */
  .tv {
    .chat-bubble,
    .chat-bubble div,
    .chat-bubble span {
      font-size: $tvfont;
      line-height: $tvlineh;
    }
  }
  .bar-footer {
    overflow: visible !important;
    position: absolute;

  }

  .bar-footer textarea {
    resize: none;
    height: 25px;
    width: 100%;
  }

  /* fixes an ios bug bear */
  button.ion-android-send {
    padding-top: 2px;
  }

  /* add this to keep your footer buttons down
  at the bottom as the textarea resizes */
  .footer-btn-wrap {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    // width: 50px;
  }

  button {
    display: inline-block;
    
  }


  .scrollDownBtn {
    position: absolute;
    right: 5px;
    bottom: 60px;
  }

  .scrollDownBtn:before {
    background-color: white;
    border-radius: 100%;
  }

  .footer-btn { }

  img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
  }

  img.profile-pic.left {
    left: 10px;
  }

  img.profile-pic.right {
    right: 10px;
  }

  .ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
  }

  .message {
    font-size: 14px;
  }

  .message-detail {
    white-space: nowrap;
    font-size: 12px;
    text-align: right;
  }

  .bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
  }

  .message-wrapper {
    position: relative;
    margin: 10px 0;
  }

  .message-wrapper:last-child {
    margin-bottom: 10px;
  }

  .message-wrapper.item {
    padding: 0;
    border: none;
  }

  .chat-bubble {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 70%;
    min-width: 130px;
  }

  .chat-bubble .bubble-before {
    content: "\00a0";
    display: block;
    height: 15px;
    width: 15px;
    position: absolute;
    bottom: 4.5px;
  }

  .chat-bubble img {
    max-width: 100%;
    max-height: 300px;
  }

  .chat-bubble .img {
    max-width: 100%;
    max-height: 300px;
    background-size: cover; background-position: center;
  }

  .chat-bubble.left {
    background-color: #f2f2ed;
    float: left;
    margin-left: 55px;
  }

  .chat-bubble.left .bubble-before {
    background-color: #f2f2ed;
    left: -3px;
    -webkit-transform: rotate(30deg) skew(0deg);
    transform: rotate(30deg) skew(0deg);
  }

  .chat-bubble.right {
    background-color: #1bbc9b;
    color: #fff;
    float: right;
    margin-right: 55px;
  }

  .chat-bubble.right .bubble-before {
    background-color: #1bbc9b;
    right: -2px;
    -webkit-transform: rotate(118deg) skew(0deg);
    transform: rotate(140deg) skew(0deg);
  }

  .chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
  }

  .writing-now {
    position: absolute;
    font-style: italic;
    top: -22px;
    font-size: 10px;
    width: 100%;
    text-align: center;
  }

  input, textarea, .item-input, .item-input-wrapper {
    background-color: #f4f4f4 !important;
  }

  .bold {
    font-weight: bold;
  }

  .cf {
    clear: both !important;
  }

  a.autolinker {
    color: #3b88c3;
    text-decoration: none;
  }
  .whith-image.chat-bubble {
    max-width: 250px;
  }
  .chat-bubble.right .heart-first {
    position: absolute;
    left: -20px;
    top: 0px;
    font-size: 18px;
    color: red;

  }

  .chat-bubble.right .heart-last {
    position: absolute;
    left: -18px;
    font-size: 13px;
    top: 0px;
    color: #fff;
  }
  .chat-bubble.left .heart-first {
    position: absolute;
    right: -20px;
    top: 0px;
    font-size: 18px;
    color: red;
  }

  .chat-bubble.left .heart-last {
    position: absolute;
    right: -18px;
    font-size: 13px;
    top: 0px;
    color: #fff;
  }
  .chat-bubble .like-wrap span {
    position: absolute;
    color: #000;
    font-size: 12px;
  }
  .chat-bubble.left .like-wrap span{
    right: -16px;
    top: 15px;
  }
  .chat-bubble.right .like-wrap span{
    left: -16px;
    top: 15px;
  }
}

.bar.bar-dark {
  background-color: #9ea4af;
  border-color: #9ea4af;
}

.button.button-calm {
  background-color: #1bbc9b;
  border-color: #1bbc9b;
}

.button.button-positive {
  background-color: #1bbc9b;
  border-color: #1bbc9b;
}

#upload_input {
  z-index: 99999;
  width: 35px;
  height: 35px;
  filter: alpha(opacity=0);
  cursor: pointer;
}

#sendphoto {
  overflow: hidden;
  cursor: pointer;
}

#logout {
  float: right;
  z-index: 99999;
  margin-right: 20px;
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
}

#logout:hover {
  text-decoration: underline;
}

#logout:visited {
  text-decoration: none;
}

.login-form,
.login-btn {
  max-width: 700px;
  margin: auto;
}

.help-block {
  color: #e63a3a;
}
.uploading {
  width: 100%;
  background-color: #dfdfdf;
  height: 100%;
  z-index: 9999;
  position: fixed;
  top:44px;

  &__title {
    height: 49px;
    background-color: #00bfa5;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
  }
  &__icon-close {
    margin-left: 20px;
    font-size: 20px;
  }
  &__title-body {
    margin-left: 10px;
  }
  &__body {
    text-align: center;
    margin: 0 auto;

    img {
      margin: 30px;
      max-width: 50%;
      max-height: 300px;
    }

    .sign {
      display: flex;
      justify-content: center;
      align-items: center;

      textarea {
        border-bottom: 2px solid #00bfa5;
        width: 80%;
        height: 40px !important;
        resize: none !important;
        padding-top: 11px;
        padding-left: 8px;
      }

      .button-icon .icon:before, .button-icon.icon:before {
        color: #fff;
        display: flex;
        padding: 0 0 1px 4px;
        align-items: center;
        justify-content: center;
      }

      button.ion-android-send {
        margin-left: 15px;
        background-color: green;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }
  }
}
.topic {
  cursor: pointer;
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 22;
  &__title {
    z-index: 99;
    padding: 10px 10px 10px 15px;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1bbc9b;
    border-radius: 12px;
    z-index: 20;
  }
  &__edit {
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    z-index: 99;
    input {
      z-index: 99;
    }
  }
  &__edit:hover {
    font-size: 20px;
  }
}

.page-404 {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -50px;
  h1, h2 {
    text-align: center;
    color: #BfBfBf;
  }
  h1 {
    font-weight: bolder;
  }
  h2 {
    text-transform: uppercase;
  }
}

.scroll-content {
  padding: 0;
  margin: 0;
}

.download-button {
  text-align: center; 
  margin-top: 20px;

  & a {
    text-decoration: none;
    color: white;
    background-color: #387ef5;
    opacity: 0.7;
    padding: 5px 15px;
  }
}